<%= form_with model: @comment, url: user_post_comments_path(params[:user_id], params[:post_id]) do |form| %>
  <div class="field">
    <%= form.label :text %><br />
    <%= form.text_area :text %>
  </div>

  <%= form.submit "Add Comment", class: "btn" %>
<% end %>