<%= render "shared/user_box", user: @user %>

<div class="bio-box">
  <span>bio</span>
  <p><%= @user.bio %></p>
</div>

<% @user.recent_posts.each do |post| %>
  <%= render "shared/post_box", post: post %>
<% end %>

<a class="a-btn" href="/users/<%= @user.id %>/posts">See all post</a>