<%= render "shared/user_box", user: @user %>

<div>
  <span>bio</span>
  <p><%= @user.bio %></p>
</div>

<% @user.recent_posts.each do |post| %>
  <%= render "shared/post_box", post: post %>
<% end %>
