<%= render "shared/user_box", user: @user %>

<% @posts.each do |post| %>
  <%= render "shared/post_box", post: post %>
  <div>
    <% post.recent_comments.each do |comment| %>
      <%= render "shared/comment", comment: comment %>
    <% end %>
  </div>
<% end %>