<%= render "shared/user_box", user: @user %>

<% @posts.each do |post| %>
  <%= render "shared/post_box", post: post %>
  <%= render "shared/comment_box", comments: post.recent_comments if post.comments.present? %>
<% end %>

<a class="a-btn" href="#">Pagination</a>
