* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.a-btn {
  width: fit-content;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

.user-box {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
  max-height: 15vh;
}

.user-img {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.user-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.user-info,
.bio-box,
.post-box,
.a-btn,
.comments-box,
.post {
  border: 1px solid black;
  padding: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bio-box,
.post-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post * {
  font-size: 1rem;
}

.post div {
  display: flex;
  flex-direction: column;
}

.comments-box {
  border-top: none;
  margin-top: -1rem;
}

.counter {
  align-self: flex-end;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container > a {
  margin: 0;
}

form {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.form-btn {
  padding: 0.375rem 0.5rem;
}

textarea {
  max-width: 20rem;
  max-height: 5rem;
}
